.welcome {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    background-color: #8C9EFF;
    height: 78vh;
}
.welcomeheader {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    font-style: italic;
}

.profileicon {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    color: white
}